body {
  margin: 0;
  font-family: cursive;
  background-color: rgb(32, 32, 38);
}

.header {
  height: 50px;
  padding-top: 200px;
  text-align: center;
  font-size: 2em;
  color: white;
}

.TodoInput {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  font-size: 1.5em;
  border: none;
  border-bottom: 1px solid whitesmoke;
  text-align: center;
  border-radius: 7px;
  border: none;
  outline: none;
  font-family: cursive;
}
.todoform {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
.submitbuttonform {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-top: 25px;
}

.submitbutton {
  font-size: 1.5em;
  border-radius: 7px;
  cursor: pointer;
  font-family: cursive;
}

.submitbutton:hover {
  background-color: rgb(24, 20, 20);
  color: whitesmoke;
}

.todolistform {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
}

.todolist {
  padding-top: 50px;
  color: whitesmoke;
  cursor: pointer;
}

.todolist:hover {
  color: rgb(231, 84, 84);
}
